<template>
  <div class="q-pa-md">
    <form @submit.prevent.stop="onSubmit" class="q-gutter-md">
      <q-input
        ref="titleRef"
        filled
        v-model="title"
        label="Title"
        :dense="true"
        class="q-mb-md"
        lazy-rules
        :rules="titleRules"
      />
      <q-input
        ref="directorRef"
        filled
        v-model="director"
        label="Director"
        :dense="true"
        class="q-mb-md"
        lazy-rules
        :rules="directorRules"
      />
      <q-input
        ref="summaryRef"
        filled
        v-model="summary"
        label="Summary"
        autogrow
        :dense="true"
        class="q-mb-md"
        maxlength="100"
        lazy-rules
        :rules="summaryRules"
      />
      <div class="q-gutter-xs">
        <q-checkbox
          v-for="genre in genresData"
          :key="genre"
          v-model="genres"
          :val="genre"
          :label="genre"
        />
      </div>
      <div class="q-gutter-sm" style="display: flex">
        <q-btn
          type="submit"
          unelevated
          color="primary"
          style="width: 50%"
          :label="idMovies === 'new' ? 'Save' : 'Update'"
        />
        <q-btn
          v-if="idMovies !== 'new'"
          unelevated
          color="red"
          style="width: 50%"
          @click="onDelete()"
          label="Delete"
        />
      </div>
    </form>
  </div>
</template>

<script>
import { EventBus } from "app/event-bus";
import { useQuasar } from "quasar";
import moviesService from "src/services/movies";
import { defineComponent, onMounted, ref } from "vue";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "FormMovies",
  setup() {
    const $q = useQuasar();
    const router = useRouter();
    const { get, post, put, destroy } = moviesService();
    const idMovies = ref(null);
    const title = ref(null);
    const titleRef = ref(null);
    const director = ref(null);
    const directorRef = ref(null);
    const summary = ref(null);
    const summaryRef = ref(null);
    const genres = ref([]);
    const genresData = ref([
      "Action",
      "Animation",
      "Drama",
      "Sci-Fi",
      "Horror",
    ]);

    onMounted(() => {
      EventBus.emit("updateTitle", "Form Movies");
      idMovies.value = router.currentRoute.value.params.key;
      if (idMovies.value !== "new") {
        getMoviesById(idMovies.value);
      }
    });

    const getMoviesById = async (id) => {
      try {
        const params = "/" + id;
        const res = await get(params);
        title.value = res.title;
        director.value = res.director;
        summary.value = res.summary;
        genres.value = res.genres;
      } catch (error) {
        $q.notify({
          type: "negative",
          message: error,
        });
      }
    };

    const onDelete = async () => {
      $q.dialog({
        dark: true,
        title: "Confirm",
        message: "Would you like to delete this data?",
        cancel: true,
        persistent: true,
      }).onOk(() => {
        destroyMovies();
      });
    };

    const destroyMovies = async () => {
      try {
        const params = "/" + idMovies.value;
        await destroy(params);
        $q.notify({
          icon: "done",
          color: "positive",
          message: "Success",
        });
        router.push({ path: "/movies" });
      } catch (error) {
        $q.notify({
          type: "negative",
          message: error,
        });
      }
    };

    const onSubmit = async () => {
      titleRef.value.validate();
      directorRef.value.validate();
      summaryRef.value.validate();
      if (
        titleRef.value.hasError ||
        directorRef.value.hasError ||
        summaryRef.value.hasError ||
        genres.value.length === 0
      ) {
        $q.notify({
          color: "negative",
          message: "You need to fill",
        });
      } else {
        try {
          if (idMovies.value === "new") {
            await post({
              title: title.value,
              director: director.value,
              summary: summary.value,
              genres: genres.value,
            });
          } else {
            const params = "/" + idMovies.value;
            await put(
              {
                title: title.value,
                director: director.value,
                summary: summary.value,
                genres: genres.value,
              },
              params
            );
          }
          $q.notify({
            icon: "done",
            color: "positive",
            message: "Success",
          });
          router.push({ path: "/movies" });
        } catch (error) {
          $q.notify({
            type: "negative",

            message: error,
          });
        }
      }
    };

    return {
      idMovies,
      title,
      titleRef,
      titleRules: [(val) => (val && val.length > 0) || "Please fill title"],
      director,
      directorRef,
      directorRules: [
        (val) => (val && val.length > 0) || "Please fill director",
      ],
      summary,
      summaryRef,
      summaryRules: [
        (val) => (val && val.length > 0) || "Please fill summary",
        (val) => val.length < 100 || "Please use maximum 100 characters",
      ],
      genresData,
      genres,
      onSubmit,
      onDelete,
    };
  },
});
</script>
