<template>
  <div class="q-pa-md">
    <q-btn
      class="absolute-bottom-right z-max"
      style="right: 20px; bottom: 20px"
      rounded
      dense
      color="primary"
      :size="'xl'"
      :icon="'add'"
      :to="{ name: 'form-movies', params: { key: 'new' } }"
    />
    <div class="row q-mb-md">
      <q-input
        filled
        v-model="query"
        label="Search By Title ..."
        :dense="true"
        class="col-10 q-pr-md"
        @keyup.enter="getMovies()"
      />
      <q-btn
        class="col-2"
        rounded
        dense
        color="primary"
        :size="'md'"
        :icon="'search'"
        @click="getMovies()"
      />
    </div>
    <q-card
      v-for="movie in movies"
      :key="movie.id"
      class="my-card q-mb-sm cursor-pointer"
      flat
      bordered
      @click="editMovies(movie.id)"
    >
      <q-item>
        <q-item-section avatar>
          <q-avatar>
            <q-icon :name="'local_movies'" />
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ movie.title }}</q-item-label>
          <q-item-label caption> {{ movie.director }} </q-item-label>
        </q-item-section>
      </q-item>

      <q-separator />

      <q-card-section horizontal>
        <q-card-section class="col-4">
          <q-chip
            v-for="genre in movie.genres"
            :key="genre"
            clickable
            color="primary"
            text-color="white"
          >
            {{ genre }}
          </q-chip>
        </q-card-section>

        <q-separator vertical />

        <q-card-section> {{ movie.summary }} </q-card-section>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { defineComponent, onMounted, ref, watch } from "vue";
import moviesService from "src/services/movies";
import { useRouter } from "vue-router";
import { EventBus } from "app/event-bus";
import { useQuasar } from "quasar";

export default defineComponent({
  name: "MoviesPage",
  setup() {
    const $q = useQuasar();
    const router = useRouter();
    const movies = ref([]);
    const query = ref("");
    const { get } = moviesService();
    onMounted(() => {
      EventBus.emit("updateTitle", "Movies Collection");
      getMovies();
    });
    const getMovies = async () => {
      try {
        let params = "";
        if (query.value) {
          params = "?title_like=" + query.value;
        }
        movies.value = await get(params);
      } catch (error) {
        $q.notify({
          type: "negative",
          message: error,
        });
      }
    };

    watch(query, () => {
      getMovies();
    });

    const editMovies = async (id) => {
      router.push({ name: "form-movies", params: { key: id } });
    };
    return {
      movies,
      query,
      getMovies,
      editMovies,
    };
  },
});
</script>
