<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title> {{ dynamicTitle }} </q-toolbar-title>

        <div>Adrian Milano</div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <q-item-label header> Menus </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";
import EssentialLink from "components/EssentialLink.vue";
import { EventBus } from "app/event-bus";

const linksList = [
  {
    title: "Home",
    caption: "Home",
    icon: "home",
    route: { name: "home" },
  },
  {
    title: "Movies",
    caption: "Movies",
    icon: "movie_creation",
    route: { name: "movies" },
  },
];

export default defineComponent({
  name: "MainLayout",

  components: {
    EssentialLink,
  },

  setup() {
    const leftDrawerOpen = ref(false);
    const dynamicTitle = ref("BRIIX Tech Requirement Test");

    EventBus.on("updateTitle", (newTitle) => {
      dynamicTitle.value = newTitle;
    });

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      dynamicTitle,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
    };
  },
});
</script>
